.grid-container {

  width: 100%;
  height: 120%;
  background-color: #F3F0E8;
  padding: 10px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 5px solid #DFDEDE;
  border-radius: 5px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}













.calendar-nav-days span {
  color: #F3F0E8;
  font-size: 18px;
}





#date-box-container {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 75%;
  top: 12rem;
  right: 0rem;
  background-color: #00000094;
}

.date-box {
  height: 70%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F0E8;
  border: 1rem solid #FE4646;
  border-radius: 1rem;
}

.date-box button {
  cursor: pointer;
  position: absolute;
  right: 15rem;
  top: 10rem;
  height: 3rem;
  width: 3rem;
  font-size: 3rem;
  background: none;
  border: none;
}