.cookies-popup {
    left: calc(50% - 10%);
    bottom: calc(10% - 3rem);
    animation: cookie-popup 2s ease-in-out;


    width: 30%;
    height: 6rem;
    background-color: #FF4646;
    color: white;
    font-size: 1.2rem;
    box-shadow: 5px 5px 9px 1px rgba(0,0,0,0.61);
    border-radius: 1rem;
    z-index: 10;
}

.cookies-popdown {
    animation: cookie-popdown 2s ease-in-out;
    bottom: calc(-30% - 3rem);
}

@keyframes cookie-popdown {
    0% {bottom: calc(10% - 3rem);}
    100%{bottom: calc(-30% - 3rem);
        display: none;
    }
}

@keyframes cookie-popup{
    0% {
        bottom: calc(-30% - 3rem);
    }
    100%{
        bottom: calc(10% - 3rem);
    }
}

@media (max-width: 730px) {
    .cookies-popup {
        width: 50%;
        left: calc(50% - 25%);

    }
}

@media (max-width: 430px) {
    .cookies-popup {
        width: 70%;
        left: calc(50% - 35%);
    }
}

