

html{
    font-size: 62.5%;
}

.calendar-container2{
    width: 100%;
    height: 100%;

    color: #F3F0E8;

}

.calendar{
    width: 100%;
    height: 100%;
    background-color: #F3F0E8;

}

.month{
    width: 100%;
    height: 12rem;
    background-color: #ff4646;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;

}

.month i{
    font-size: 2.5rem;
    cursor: pointer;
}

.date h1{
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
}

.month p{
    background-color: rgba(0, 0, 0, 0.174);
    font-size: 1.6rem;
}

.weekdays{
    color: #ff4646;
    width: 100%;
    height: 5rem;
    padding: 0 .4rem;
    display: flex;
    align-items: center;
}

.weekdays div{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .1rem;
    width: calc(44.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days{
    color: #ff4646;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: .2rem;
}

.days div{
    border: 5px solid #DFDEDE;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    margin: 1rem;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
}


.days div:hover:not(.today){
    background-color: #ff4646;;
    border: .2rem solid rgb(186, 186, 186);
    color: #F3F0E8;
    cursor: pointer;
}

.prev-date,
.next-date{
    opacity: 0.5;
}

.today{
    background-color: #ff4646;
    color: #F3F0E8;
}

#app-calendar{
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(5, auto);
    width: 100%;
    height: 120%;
}