*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    height: 100vh;
    background-color: #F3F0E8;
    overflow: hidden;

}

.header-nav{
    width: 100%;
    height: 30%;
    background-color: rgb(181, 181, 181);
}

main{
    height: 90%;
    display: flex;
}

.side-nav{
    height: 100%;
    width: 25%;
    background-color: #F3F0E8;
}

.calendar-container{
    width: 75%;
    height: 100%;
    overflow: scroll;
  }



@media (max-width: 768px) {
    .calendar-container {
        display: none;
    }
    .header-nav {
        display: none;
    }

    .side-nav {
        width: 100%;
        display: unset;
    }

    main {
        height: 90%;
    }

    header {
        height: 10%;
    }

    .header-top {
        height: 100%;
    }
}